<% content_for :head do %>
  <script src="https://js.stripe.com/v3/"></script>
<% end %>

<div style="
  display: flex;
  flex-direction: row;
  justify-content: center;
">
  <div>
    <%= render("checkout/breadcrumbs", checkout: checkout) %>

    <%= yield %>
  </div>

  <div>
    <%= render("orders/order", order: checkout) %>
  </div>
</div>
