<nav class="
  flex
  justify-between
">
  <%= link_to books_path do %>
    <%= inline_svg_tag("logo", title: translate("application.navigation.brand"), class: "
      h-8
    ") %>
  <% end %>
</nav>
