<section class="
  md:mx-24
  md:my-12
">
  <ul class="
    gap-4
    grid
    grid-cols-1
    md:gap-8
    md:grid-cols-4
  ">
    <% books.each do |book| %>
      <li>
        <%= link_to book_path(book), class: "
          bg-red-100
          block
          px-8
          py-16
          rounded-lg
        " do %>
          <%= render("books/cover", caption: book.title) %>
        <% end %>

        <p class="
          font-semibold
          mx-2
          my-4
        ">
          <%= book.title %>
        </p>

        <p class="
          font-semibold
          mx-2
          my-4
        ">
          <%= number_to_currency(book.price_in_dollars) %>
        </p>
      </li>
    <% end %>
  </ul>
</section>
