@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

summary::-webkit-details-marker {
  display: none;
}

[open].open\:block,
[open] .open\:block {
  display: block;
}

[open].open\:hidden,
[open] .open\:hidden {
  display: none;
}

[open].open\:fixed,
[open] .open\:fixed {
  position: fixed;
}

.input-step-none {
  -moz-appearance: textfield;
}

.input-step-none::-webkit-outer-spin-button,
.input-step-none::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
