<div style="
  display: flex;
  flex-direction: column;
">
  <%= form.label(attribute) %>
  <%= form.text_field(attribute) %>

  <span class="field_with_errors__message">
    <%= form.object.errors[attribute].to_sentence %>
  </span>
</div>
